.profile__edit-button {
  box-sizing: border-box;
  align-self: center;
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
