.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  margin: 0 auto;
}

@media (max-width: 930px) {
  .photo-grid {
    justify-content: center;
  }
}

@media (max-width: 620px) {
  .photo-grid {
    gap: 20px;
  }
}
