.popup-edit-profile__inputs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 48px;
}

@media (max-width: 540px) {
  .popup-edit-profile__inputs {
    margin-bottom: 45px;
  }
}
