.header__logo {
  background-image: url(../../../images/logos/logo-white.svg);
  display: block;
  width: 142px;
  height: 33px;
}

@media (max-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    background-size: contain;
  }
}
