.header {
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid #545454; /*добавить opacity*/
  margin-bottom: 40px;
}

@media (max-width: 540px) {
  .header {
    width: calc(100% + 19px);
    margin-bottom: 42px;
    min-height: 56px;
  }
}
