.root {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 19px 60px;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 320px) {
  .root {
    padding: 45px 19px 36px;
  }
}
