.popup-edit-profile {
  margin: 0 auto;
  padding: 34px 36px 37px;
  max-width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  display: none;
}
